.vscode/
.pytest_cache
dist
__pycache__/
*.py[cod]
*.egg-info
MUJOCO_LOG.TXT
;
logdir/
dreamerv3_checkpoints/
scores_cache/
report/*
!report/atari_compare/
report/atari_compare/*
!report/atari_compare/**
!report/atari_*.png
!report/minecraft_*.png
highlights/*
!highlights/inference/
highlights/inference/*
!highlights/inference/**
merge_notebook.py
test_highway_cells.py
